    <!-- Main Start -->

<main>
    <!-- Case Studies Start -->
    @await Component.InvokeAsync("_MainCaseStudiesComponentPartial")
    <!-- Case Studies finish -->
    <!-- Testimonials start -->
    @await Component.InvokeAsync("_MainTestimonialsComponentPartial")
    <!-- Testimonials finis -->
    <!-- Recent work start -->
    @await Component.InvokeAsync("_MainRecentWorkComponentPartial")
    <!-- Recent work finish -->
    <!-- Get ın touch start -->
    @await Component.InvokeAsync("_MainGetInTouchComponentPartial")
    <!-- Get ın touch finish -->
</main>
<!-- Main Finish -->