<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/slider.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" />
</head>
<body>
    <header>
        @await Component.InvokeAsync("_HeaderHomeComponentPartial")
        @await Component.InvokeAsync("_HeaderContentComponentPartial")
        @await Component.InvokeAsync("_HeaderWorkedComponentPartial")  
    </header>
    
    <!-- Main start -->
    
            @RenderBody()

    <!-- Main finish -->

    <!-- Footer start -->
    <footer>
        <h5>Made with</h5><i class="fa-solid fa-heart" id="heartbeat"></i>
    </footer>

    <!-- Footer finish -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)
</body>
</html>
