<nav class="navbar">
    <a href="/Admin/About/Index"><i class="fa-solid fa-circle-info"></i>About</a>
    <a href="/Admin/Partner/Index"><i class="fa-solid fa-handshake"></i>Partner</a>
    <a href="/Admin/CaseStudies/Index"><i class="fa-solid fa-briefcase"></i>Case Studies</a>
    <a href="/Admin/Testimonials/Index"><i class="fa-solid fa-comment"></i>Testimonials</a>
    <a href="/Admin/RecentWork/Index"><i class="fa-solid fa-sliders"></i>Slider</a>
    <a href="/Admin/Contact/Index"><i class="fa-solid fa-address-book"></i>Contact</a>
    <a href="/Admin/SocialMedia/Index"><i class="fa-solid fa-hashtag"></i>Social Media</a>
    <a href="/Admin/AuthorizeMenu/Index"><i class="fa-solid fa-bars"></i></i>Authorize Menu</a>
    <a href="/Admin/Roles/Index"><i class="fa-solid fa-gear"></i>Roles</a>
    <a href="/Admin/Users/Index"><i class="fa-solid fa-user"></i>Users</a>
    <div class="logout">
        <a asp-area="Admin" asp-controller="Login" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a>
    </div>
</nav>