@model List<AdminTestiMonialsDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<div class="wrapper">
    <table>
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Client Image</th>
                <th>Comment</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ClientName</td>
                    <td><img src="@item.ClientImage" alt=""></td>
                    <td>@item.Comment</td>
                    <td><a class="btn update-btn" href="/Admin/TestiMonials/UpdateTestiMonials/@item.Id">Update</a></td>
                    <td><a class="btn delete-btn" href="/Admin/TestiMonials/DeleteTestiMonials/@item.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn create-btn" href="/Admin/TestiMonials/CreateTestiMonials/">Create Testi Monials</a>
</div>

